.page {
  padding-top: 80px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.header {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  gap: 20px;
}
.title {
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: var(--color-black);
}

/* ================= TABLET ================= */

@media (min-width: 768px) {
  .page {
    padding-top: 100px;
    gap: 32px;
  }
  .header {
    padding: 0 32px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .title {
    font-size: 54px;
  }
}

/* ================= DESKTOP ================= */

@media (min-width: 1280px) {
  .page {
    padding: 120px 64px 60px 64px;
    gap: 40px;
  }

  .header {
    padding: 0;
  }
}

.page > :last-child {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
