.wrapper {
  display: flex;
  justify-content: center;

  gap: 20px;
  padding-top: 70px;
  flex-direction: column;
}

@media screen and (min-width: 1280px) {
  .wrapper {
    padding-top: 100px;
    flex-direction: row;
  }
}
