.wrapper {
  display: flex;
  flex-direction: column;
  padding: 120px 20px 40px 20px;
}

.title {
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: var(--color-black);
}

/* ================= TABLET ================= */

@media (min-width: 768px) {
  .wrapper {
    padding: 140px 32px 60px 32px;
  }

  .title {
    font-size: 54px;
  }
}

/* ================= DESKTOP ================= */

@media (min-width: 1280px) {
  .wrapper {
    padding: 160px 64px 0 64px;
    gap: 40px;
  }
}
