/* ================= MOBILE ================= */

.heroTextSection {
  background-color: var(--color-yellow);
  border-radius: 30px;
  padding: 100px 20px 40px 20px;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.title {
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 50px;
  line-height: 0.96;
  letter-spacing: -0.03em;
  color: var(--color-white);
}
.title span {
  color: rgba(255, 255, 255, 0.4);
}
.description {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--color-white);
}
.imageWrapper {
  border-radius: 30px;
  overflow: hidden;
}

/* ================= TABLET ================= */

@media (min-width: 768px) {
  .heroTextSection {
    border-radius: 60px;
    padding: 130px 32px 50px 32px;
  }
  .title {
    font-size: 80px;
  }
  .description {
    font-size: 18px;
    width: 255px;
    margin-left: auto;
  }
}

/* ================= DESKTOP ================= */

@media (min-width: 1280px) {
  .heroTextSection {
    padding: 150px 64px 40px 64px;
  }
  .content {
    flex-direction: row;
    align-items: flex-end;
  }
  .title {
    font-size: 90px;
    line-height: 0.97;
    width: 760px;
  }
  .description {
    font-size: 18px;
    width: 268px;
    line-height: 1.22;
  }
  .mainImages img {
    width: 100%;
  }
}
