.searchForm {
  width: 100%;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  width: 100%;
  border-radius: 30px;
  outline: none;
  transition: border-color 0.2s ease;
  background-color: transparent;
  border: 1px solid rgba(38, 38, 38, 0.15);
  padding: 12px 235px 12px 12px;
  height: 42px;

  font-family: var(--font-main);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: rgba(38, 38, 38, 0.5);
}

.input:focus {
  border-color: #f1a533;
}

.input::placeholder {
  color: #888;
}

.actions {
  position: absolute;
  right: 15px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.clearButton {
  background: none;
  border: none;
  color: #888;
  cursor: pointer;
  font-size: 14px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clearButton:hover {
  color: #111;
}

.submitButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.1s ease;
}

.searchIcon {
  width: 18px;
  height: 18px;
}

/* ================= TABLET ================= */

@media (min-width: 768px) {
  .input {
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.03em;
    color: rgba(38, 38, 38, 0.5);

    padding: 14px 165px 14px 14px;
    width: 230px;
    height: 48px;
  }
}
