.wrapperContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.userTag {
  background-color: var(--color-yellow);
  color: var(--color-white);
  border-radius: 30px;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 14px;
  font-family: var(--font-main);
  line-height: 129%;
  letter-spacing: -0.02em;

  display: flex;
  align-items: center;
}

.iconUser {
  margin-left: 5px;
}

.avatarLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.avatarLabel:hover {
  opacity: 0.8;
}

.avatarImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.uploadText {
  line-height: 1.33;
  text-decoration-line: underline;
  color: var(--color-black);

  font-family: var(--font-main);
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -0.02em;

  text-decoration-skip-ink: none;
  margin-bottom: 28px;
}

.hiddenInput {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.infoList {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.list {
  display: flex;
  gap: 18px;
  flex-direction: column;
}

.cardTitle {
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: var(--color-black);
  margin-bottom: 6px;
}

.infoInput {
  width: 100%;
  height: 52px;
  padding: 14px 16px;
  border: 1px solid #f6b83d;
  border-radius: 30px;
  font-size: 16px;
  color: var(--color-black);
  background-color: transparent;
  outline: none;
}
.avatarWrapper img {
  border-radius: 100px;
  padding: 10px;
  width: 94px;
  height: 94px;
}

@media screen and (min-width: 768px) {
  .header {
    margin-bottom: -20px;
  }
  .uploadText {
    font-size: 14px;
    line-height: 1.29;
    margin-bottom: 20px;
  }
  .cardTitle {
    margin-bottom: 6px;
    font-size: 18px;
    line-height: 1.33;
    color: #2b2b2a;
  }
  .infoInput {
    padding: 16px 190px 16px 16px;
    width: 305px;
  }

  .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .avatarWrapper img {
    width: 110px;
    height: 110px;
  }
}

@media screen and (min-width: 1280px) {
  .infoInput {
    padding: 16px 320px 16px 16px;
    width: 520px;
  }

  .list {
    display: flex;
  }
}
