/* src/shared/styles/variables.css */

:root {
  --color-black: #262626;
  --color-yellow: #f6b83d;
  --color-light-yellow: #fff4df;
  --color-white: #ffffff;
  --color-bg-page: #f9f9f9;

  --color-yellow-hover: #f9b020;
  --border-default: rgba(38, 38, 38, 0.15);
  --border-white: rgba(255, 255, 255, 0.4);

  --font-main: 'Manrope', sans-serif;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --header-height: 80px;
}

[data-theme='dark'] {
  --color-bg-page: #1f1f1f;
  --color-black: #ffffff;
}
