@import './shared/styles/variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
}
ul,
ol {
  text-decoration: none;
  list-style: none;
}
body {
  font-family: var(--font-main), sans-serif;
  background-color: var(--color-bg-page);
  color: var(--color-black);
  line-height: 1.5;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.app-layout {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  margin-top: calc(var(--header-height) * -1);
}

:focus-visible {
  outline: 2px solid #d4ba84;
  border-radius: 2px;
}

.navLink:focus-visible {
  outline: 2px solid #d0d318;
  background-color: #d4ba84;
}

.container {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 32px;
  }
}
