@import './shared/styles/variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
