.wrapper {
  display: flex;
  flex: 1;
}

.imageContainer {
  border-radius: 30px;
}

.badge,
.badgeHeader,
.avatarWrapper,
.avatar,
.infoRow,
.wrapperText,
.petName,
.birthdayLabel,
.birthdayValue,
.badgeText {
  display: none;
}

/* Tablet (від 768px) */
@media screen and (min-width: 768px) {
  .imageContainer {
    position: relative;
    width: 100%;
    border-radius: 60px;
  }

  .badge {
    position: absolute;
    left: 32px;
    bottom: 32px;
    max-width: 294px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  }

  .badgeHeader {
    display: flex;
    gap: 12px;
  }

  .avatarWrapper {
    width: 60px;
    height: 60px;
    background-color: #fff4df;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }
  .avatar {
    display: block;
    width: 32px;
    height: 32px;
  }

  .infoRow {
    display: block;
    align-items: baseline;
    flex-grow: 1;
  }

  .wrapperText {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }

  .petName {
    display: block;
    font-weight: 700;
    font-size: 16px;
    color: #f6b83d;
  }

  .birthdayLabel {
    display: flex;
    font-size: 12px;
    color: rgba(38, 38, 38, 0.5);
  }

  .birthdayValue {
    display: flex;
    color: #262626;
    font-weight: 500;
  }

  .badgeText {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: rgba(38, 38, 38, 0.8);
    margin: 0;
  }
}
